:root {
  --default-font-size: 18px;
  --table-cell-padding: 8px;
  --page-padding: 24px;
  --header-padding: 64px;
  --footer-padding: 64px;
  --inline-code-padding: 2px;
  --pre-padding: 16px;
  --page-max-width: 800px;
}