.c-header {
  color: var(--white);
  padding: var(--header-padding) var(--page-padding);
  background: var(--dark-grey);
}

.c-header__logo img {
  display: block;
  width: 124px;
  height: 124px;
  margin: auto;
}