
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }

/* Keyword */ .chroma .k { color: var(--purple) }
/* KeywordConstant */ .chroma .kc { color: var(--purple) }
/* KeywordDeclaration */ .chroma .kd { color: var(--purple) }
/* KeywordNamespace */ .chroma .kn { color: var(--light-blue) }
/* KeywordPseudo */ .chroma .kp { color: var(--purple) }
/* KeywordReserved */ .chroma .kr { color: var(--purple) }
/* KeywordType */ .chroma .kt { color: var(--purple) }

/* NameAttribute */ .chroma .na { color: var(--blue) }
/* NameClass */ .chroma .nc { color: var(--blue) }
/* NameConstant */ .chroma .no { color: var(--purple) }
/* NameDecorator */ .chroma .nd { color: var(--blue) }
/* NameException */ .chroma .ne { color: var(--blue) }
/* NameFunction */ .chroma .nf { color: var(--light-blue) }
/* NameB??? */ .chroma .nb { color: var(--blue) }
/* NameOther */ .chroma .nx { color: var(--yellow) }
/* NameTag */ .chroma .nt { color: var(--yellow) }
/* Literal */ .chroma .l { color: var(--yellow) }

/* LiteralDate */ .chroma .ld { color: var(--light) }
/* LiteralString */ .chroma .s { color: var(--light) }
/* LiteralStringAffix */ .chroma .sa { color: var(--light) }
/* LiteralStringBacktick */ .chroma .sb { color: var(--light) }
/* LiteralStringChar */ .chroma .sc { color: var(--light) }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--light) }
/* LiteralStringDoc */ .chroma .sd { color: var(--light) }
/* LiteralStringDouble */ .chroma .s2 { color: var(--light) }
/* LiteralStringEscape */ .chroma .se { color: var(--yellow) }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--light) }
/* LiteralStringInterpol */ .chroma .si { color: var(--light) }
/* LiteralStringOther */ .chroma .sx { color: var(--light) }
/* LiteralStringRegex */ .chroma .sr { color: var(--light) }
/* LiteralStringSingle */ .chroma .s1 { color: var(--green) }
/* LiteralStringSymbol */ .chroma .ss { color: var(--light) }

/* LiteralNumber */ .chroma .m { color: var(--yellow) }
/* LiteralNumberBin */ .chroma .mb { color: var(--yellow) }
/* LiteralNumberFloat */ .chroma .mf { color: var(--yellow) }
/* LiteralNumberHex */ .chroma .mh { color: var(--yellow) }
/* LiteralNumberInteger */ .chroma .mi { color: var(--yellow) }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--yellow) }
/* LiteralNumberOct */ .chroma .mo { color: var(--yellow) }

/* Operator */ .chroma .o { color: var(--blue) }
/* OperatorWord */ .chroma .ow { color: var(--light-blue) }

/* Comment */ .chroma .c { color: var(--muted-light); font-style: italic }
/* CommentHashbang */ .chroma .ch { color: var(--muted-light) }
/* CommentMultiline */ .chroma .cm { color: var(--muted-light) }
/* CommentSingle */ .chroma .c1 { color: var(--muted-light); font-style: italic }
/* CommentSpecial */ .chroma .cs { color: var(--muted-light) }
/* CommentPreproc */ .chroma .cp { color: var(--muted-light) }
/* CommentPreprocFile */ .chroma .cpf { color: var(--muted-light) }
/* GenericDeleted */ .chroma .gd { color: var(--light-blue) }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericInserted */ .chroma .gi { color: var(--blue) }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: var(--muted-light) }


/* P???? */ .chroma .p { color: var(--light) }