:root {
  --hopin-home-item-color-1: var(--primary-blue);
  --hopin-home-item-color-2: var(--primary-grey);
  --hopin-home-item-color-3: var(--primary-pink);
  --hopin-home-item-outline: var(--primary-grey);
}